@charset "UTF-8";

body {
    background-color: #6576FF;
    color: #202020;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 25px;
    list-style-type: katakana-iroha;
    background-image: url("../images/map.jpg");
    background-size: cover;
    background-repeat: repeat;
  }

header   {
    background-color: white;
    width: 768px;
    height: 250px;
    background-image: url("../images/royal_airlines_logo.png");
}

#container{
	width: 768px;
	height: auto;
	background-color: #A53327; 
	margin: auto;
	
}


h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*Float the Aside so it displays next to Main*/
aside {
    width: 150px;
    height: auto;
    background-color: #B4905F;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    color: #425561;
	font-family: politica,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 22pt;
}

.floatLeft{
	float: left;
	
}

article {
    margin-bottom: 30px;
}

/*float the main so it shows up next to the aside. reduce width by 150px so they both line up with header. */
main {
    width: 598px;
    height: auto;
    background-color: #C2B999;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*Clear the float so the footer shows up in the right palce again. */
footer {
    width: 768px;
    height: 50px;
    background-color: gray;
	background-image: url("../images/design.jpg");
    clear: both;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 80px;
    margin-right: 60px;
    font-family: tornac, sans-serif;
	font-size: 24pt;
}
#container nav ul {
    margin: auto;
    width: 565px;
}
nav a:link {
    color: #36454F;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #672B87;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: maroon;
	
}
nav a:active {
    text-decoration: none;
    color: #676767;
}img {
    float: right;
}
th, td {
    background-color: #B234A8;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid #282828;
    border-radius: 15px;
    float: none;
}
table a {
    text-decoration: none;
    color: #F95D01;
}
